<!DOCTYPE html>
<html lang="-br" ng-app="tuitinho">
    <head>
        <meta charset="utf-8">
        <title>Tuitinho</title>
        <link rel="stylesheet" type="text/css" href="css/layout.css">
        <script src="js/angular.min.js"></script>
        <script src="js/app.js"></script>
    </head>
    <body ng-controller="posts">
        <header>
            <h1>Tuitinho</h1>
        </header>
        
        <section>
            <article>
                <header><h2>Publicações</h2></header>
                <div ng-repeat="post in posts">
                    <p>
                        <b>{{post.username}}</b>: {{post.text}}
                    </p>
                </div>
            </article>
        </section>
        
        <section>
            <header><h2>Fazer publicação</h2></header>
            <form method="post" action="">
                <label for="id">ID</label><br>
                <input type="text" id="id" name="Id"><br>
                <label for="text">Mensagem</label><br>
                <textarea id="text" name="text" rows="4" cols="48" maxlength="140" placeholder="Escreva um texto de até 140 caracteres">
                </textarea><br>
                <button type="button" ng-click="submitPost()">Enviar</button><br>
                <br>
                <a href="#" ng-click="submitDeleteUser()">Excluir conta</a><br>
            </form>
        </section>
    </body>
</html>